html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9ac8e8;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

    .btn a {
        color: black;
        text-decoration: none;
    }

.btn a:hover {
    font-weight: 400;
}

.btn:hover {    
    background-color: cornflowerblue;
}

.leaderboardTable {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

.leaderboardTable th, .leaderboardTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.container {
    text-align: right;
}

.lblBoardColor {
    float: left;
}

.colorPickerBoard {
    float: right;
}

.lblPlayerColor {
    float: left;
}

.colorPickerPlayer {
    float: right;
}

.lblOpponentColor {
    float: left;
}
                                                 
.colorPickerOpponent {
    float: right;
}

.containerLeft {
    font-size: 24px;
}

.floatContainer {
    overflow: auto;
    width: 700px;
    height: 100px;
}

#btnHome {
    margin-top: 100px;
}

[role=button] {
    cursor: pointer;
}