@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Connect 4</h1>

    <button class="btn" id="btnSettings">Settings</button>
    <button class="btn" id="btnPlay">Play</button>
</div>
