@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Connect 4</h1>
        <br />
        <br />
        <button class="btn" id="btnLogin">
            <a asp-page="/Login">Login</a>
        </button>
        <br />
        <br />
        <button class="btn" id="btnSettings">
            <a asp-page="/Settings">Settings</a>
        </button>
        <button class="btn" id="btnGameHistory">
            <a asp-page="/GameHistory">Game History</a>
        </button>
        <button class="btn" id="btnLeaderboard">
            <a asp-page="/Leaderboard">Leaderboard</a>
        </button>
    </div>
</body>

