@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Connect 4</h1>
    <br />
    <br />
    <br />
    <button class="btn" id="btnSettings">
        @Html.ActionLink("Settings", "Settings", "Home")
    </button>
    
    <button class="btn" id="btnPlay">Play</button>
</div>

<script>
    $(function () {
        $("#myButton").click(function () {
            alert("Button clicked!");
        });
    });
</script>
