@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Connect 4</h1>
        <br />
        <br />
        <br />
        <button class="btn" id="btnSettings">
            <a asp-page="/Settings">Settings</a>
        </button>

        <button class="btn" id="btnPlay">Play</button>
        <button class="btn" id="btnLeaderboard">
            <a asp-page="/Leaderboard">Leaderboard</a>
        </button>
    </div>

    <script>
        $(function () {
            $("#btnSettings").click(function () {
                alert("Button clicked!");
            });
        });
    </script>
</body>

