@page
@using Team9.Connect4.BL.Models;
@model Team9.Connect4.WebUI.Pages.Shared.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var leaderboards = Model.GetLeaderboard();
}

<body>
        <table class="gameTable">
            <thead>
                <tr>
                    <th>Winner</th>
                    <th>Turns</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaderboard in leaderboards)
                {
                    <tr>
                        <td>@leaderboard.Winner</td>
                        <td>@leaderboard.Turns</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container">
            <button class="btn" id="btnHome">
                <a asp-page="/Index">Back to Home</a>
            </button>
        </div>
</body>

