@page
@model Team9.Connect4.WebUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<div class="container">
    <button class="btn" id="btnHome">
        <a asp-page="/Index">Back to Home</a>
    </button>
</div>