@page
@model Team9.Connect4.WebUI.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<body>
    <div class="text-center">
    <h1 class="display-4">Settings</h1>

    <div class="floatContainer">
        <div class="containerLeft">
            <p class="lblBoardColor">
                Pick a Board Color:
            </p>
        </div>
        <div class="containerRight">
            <input type="color" id="colorPickerBoard" />
        </div>
    </div>

    <br />

    <div class="floatContainer">
        <div class="containerLeft">
            <p class="lblPlayerColor">
                Pick Your Color:
            </p>
        </div>
        <div class="containerRight">
            <input type="color" id="colorPickerPlayer" />
        </div>
    </div>

    <br />

    <div class="floatContainer">
        <div class="containerLeft">
            <p class="lblOpponentColor">
                Pick Opponents Color:
            </p>
        </div>
        <div class="containerRight">
            <input type="color" id="colorPickerOpponent" />
        </div>
    </div>
    
    <div class="container">
        <button class="btn" id="btnHome">
            <a asp-page="/Index">Back to Home</a>
        </button>
    </div>
    

    @*<script>
        var colorPicker = document.getElementById("colorPicker");
        colorPicker = addEventListener("change", function() {
            var color = colorPicker.value;
            document.writeln("Selected color: " + color);
        });
    </script>*@


</div>
</body>
