@page
@model Team9.Connect4.WebUI.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Settings</h1>

        <p>Player ID: @Model.PlayerId</p>

        <form method="post" asp-action="SaveSettings">
            <div class="floatContainer">
                <div class="containerLeft">
                    <p class="lblBoardColor">
                        Pick a Board Color:
                    </p>
                </div>
                <div class="containerRight">
                    <input type="color" id="colorPickerBoard" name="BoardColor" />
                </div>
            </div>

            <br />

            <div class="floatContainer">
                <div class="containerLeft">
                    <p class="lblPlayerColor">
                        Pick Your Color:
                    </p>
                </div>
                <div class="containerRight">
                    <input type="color" id="colorPickerPlayer" name="PlayerColor" />
                </div>
            </div>

            <br />

            <div class="floatContainer">
                <div class="containerLeft">
                    <p class="lblOpponentColor">
                        Pick Opponents Color:
                    </p>
                </div>
                <div class="containerRight">
                    <input type="color" id="colorPickerOpponent" name="OpponentColor" />
                </div>
            </div>

            <br />

            <button type="submit" onclick="saveSettings()">Save</button>
        </form>

        <div class="container">
            <button class="btn" id="btnHome">
                <a asp-page="/Index">Back to Home</a>
            </button>
        </div>
    </div>
    <script>
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        function saveSettings() {
            // Getting values of the elements that contain the settings data
            var boardColor = document.getElementById("colorPickerBoard").value;
            boardColor = boardColor.replace('#', '');
            var playerColor = document.getElementById("colorPickerPlayer").value;
            playerColor = playerColor.replace('#', '');
            var opponentColor = document.getElementById("colorPickerOpponent").value;
            opponentColor = opponentColor.replace('#', '');

            // Object to hold the settings data
            var settingsData = {
                "id": "33e12940-9219-4b44-b2de-fcdee3ce08a2",
                "boardColor": boardColor,
                "playerColor": playerColor,
                "opponentColor": opponentColor
            };

          function uuidv4() {
                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                );
            }
            var newGuid = uuidv4();

            const url = "https://team9connect4api.azurewebsites.net/api/setting";
            // POST request using fetch()
            fetch("https://team9connect4api.azurewebsites.net/api/setting", {

                // Adding method type
                method: "POST",

                // Adding body or contents to send
                body: JSON.stringify({
                    "id": newGuid,
                    "boardColor": boardColor,
                    "playerColor": playerColor,
                    "opponentColor": opponentColor
                }),

                // Adding headers to the request
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })

                // Converting to JSON
                .then(response => response.json())

                // Displaying results to console
                .then(json => console.log(json));
        }
    </script>
</body>